RewriteEngine on

<Files 403.shtml>
order allow,deny
allow from all
</Files>

RewriteCond %{HTTP_REFERER} !^http://cdns.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cdns.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clients.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://clients.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://s2---sd-r56v7-g-ad.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://s2---sd-r56v7-g-ad.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sandbox-console.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sandbox-console.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cdns.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cdns.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clients.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.clients.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.s2---sd-r56v7-g-ad.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.s2---sd-r56v7-g-ad.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sandbox-console.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sandbox-console.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cdns.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cdns.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clients.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://clients.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://s2---sd-r56v7-g-ad.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://s2---sd-r56v7-g-ad.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sandbox-console.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sandbox-console.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cdns.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cdns.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clients.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.clients.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.s2---sd-r56v7-g-ad.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.s2---sd-r56v7-g-ad.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sandbox-console.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sandbox-console.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.users.jarvis.studio$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

