Header always set Strict-Transport-Security
RewriteEngine On
RewriteCond %{HTTPS} on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://admin.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://admin.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ban.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ban.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cgb.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cgb.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chat.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://chat.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://data.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://data.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://minecraft.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://minecraft.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.admin.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ban.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ban.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cgb.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cgb.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chat.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.chat.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.data.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.data.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.minecraft.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.minecraft.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://admin.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ban.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ban.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cgb.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cgb.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://chat.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://chat.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://data.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://data.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://minecraft.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://minecraft.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://users.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.admin.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ban.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ban.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cgb.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cgb.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.chat.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.chat.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.data.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.data.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.download.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.download.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.minecraft.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.minecraft.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.support.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.support.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.system.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.system.jarvis.studio$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.users.jarvis.studio/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.users.jarvis.studio$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp|mp3|vaw|mp4|tiff)$ https://jarvis.studio/403.shtml [R,NC]
